<div class="col-6 col-sm-3 placeholder">
    <div>
        <a href="/deployments/@Model.Id"><img style="width: 200px; " src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h2 style="position: absolute; top: 20%; left: 0; width: 100%; text-align: center; color: white; ">@Model.Version.Architecture</h2>
            <h4 style="position: absolute; top: 35%; left: 0; width: 100%; text-align: center; color: white;">@Model.Version.VersionNumber</h4>
        </a>
    </div>
    <h4>@Model.Id <span id="deployment-status">(@Model.Status)</span></h4>
    <a href="@Model.Endpoints.HttpEndpoint">@Model.Endpoints.HttpEndpoint</a>
</div>
